@page "/Logiado"
@page "/{categoriaurl}"
@using Alquiler.BD.Data.Entidades
@using AlquilerNuevoPosta.Client.Servicios
@inject IHttpService http
@*@inject HttpClient http*@
@using System.Text.Json







<html lang="en">

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel="stylesheet" />
   
</head>

    <style>



    </style>


<body>


    <header>

     <label for="btn-menu" class=icon-menu>
        <div class="toggle-btn">

            <span>&#9776</span>

        </div>
     </label>

        <input type="checkbox" id="btn-menu">
        <div class="cont-menu">
            <nav>
                <a href="/Logiado">Pagina principal</a>
                <a href="/Registrar_Producto">Registrar productos</a>
             <a href="/Productos">Mis productos</a>


            </nav>
            <label for="btn-menu" class=icon-menu>
                <div class="salir"> 
                <span>&#x21d0;</span>
                </div>
                </label>
         </div>
          <section id = "banner">
            <div class="palabra" >
                <h1>¡Alquiler por 2 pesos!</h1>
            </div>
            <nav>
                <a href="@producto.CategoriaId" class="nav-link">Electrodomestico</a>
                <a href="" class="nav-link">Precio</a>
                <a href="" class="nav-link">Ubicacion</a>
            </nav>

            <div class="lupa">
            <span>&#127859</span>
                <button type="button" class="btn btn-primary mr-sm-2 mb-2"
                @onclick="Buscar">Buscar</button>

                <AlquilerNuevoPosta.Client.Pages.Productos.Paginacion PaginasTotales="PaginasTotales" PaginaActual="PaginaActual" PaginaSeleccionada="PaginaSeleccionada">



                </AlquilerNuevoPosta.Client.Pages.Productos.Paginacion>
                
            </div>
            <div class="caja-buscador">

            </div>
            </section>
            <section id="textos">


            </section>
       @* <input class="buscador" type="text" @bind="NombrePersonaBuscador" placeholder="Buscar producto">*@

            <br />
          
        <div class="boton-registro ">

            <label for="submit">
                <a href="/">Cerrar Sesion</a>
            </label>
        </div>

    <div class=" buscados">

        <p> <b>Ultimos Productos agregados</b></p>


    </div>

  
</header>

 
    @if (productos == null)
    {
        <tr>Cargando......</tr>
    }
    else if (productos.Count == 0)
    {
        <tr>No existen datos</tr>
    }
    else
    {
        @foreach (var item in productos)
        {
            <div class="cardmove">
                <div class="card">
                    <div class="producto">
                        <div class="foto">
                            <img class="imagenproducto" src="@item.foto" />
                        </div>
                        <div class=" card-body">
                            <h5 class="card-title mb-3">
                                <b>@item.NombreProducto</b>
                            </h5>

                            <p class="card-text">
                                <b>Precio:$@item.PrecioProducto.ToString()</b>
                                <br />
                                <b> Detalle:@item.DetallesProducto</b>
                                <br />
                                <b> Estado:@item.Estado.Estados</b>

                            </p>
                            <div class="card-footer">
                                <div class="botonalquiler">
                                    <a class="btn btn-primary"
                                       href="Alquilar/@item.Id">
                                        Ir a alquiler

                                    </a>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</body>








    </html> 









@code {



    public Categoria categoria = new Categoria();

    public ProductoPublicado producto = new ProductoPublicado();

    [Parameter]
    public string CategoriaUrl { get; set; }

    protected override async Task OnParametersSetAsync()
    {

        var respuesta = await http.GetProductos<List<ProductoPublicado>>($"api/Productos/{CategoriaUrl}");

    }

    //a

    List<ProductoPublicado> productos;

    List<Estado> Estados;


    private int PaginaActual = 1;
    private int PaginasTotales;
    private string NombreProductoBuscador = string.Empty;





    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        await Leer();

    }

    private async Task Leer()

    {

        var respuesta = await http.Get<List<ProductoPublicado>>("api/Productos");

        if (!respuesta.Error)
        {
            productos = respuesta.Respuesta;
        }

    }

    private void PaginaSeleccionada()
    {
        
    }

    private async Task Buscar()
    {
        PaginaActual = 1;
        //await CargarProducto
    }




    async Task CargarProducto()
    {
        //var httpResponse = await http.GetAsync("api/Productos");
        //if (httpResponse.IsSuccessStatusCode)
        //{
        //    PaginasTotales = int.Parse(httpResponse.Headers.GetValues("totalPaginas").FirstOrDefault());

        //    var responseString = await httpResponse.Content.ReadAsStringAsync();
        //    productos = JsonSerializer.Deserialize<List<ProductoPublicado>>(responseString,
        //        new JsonSerializerOptions() {PropertyNameCaseInsensitive = true });
        //}else
        //{
        //    Console.WriteLine("error");
        //}

    }

   
    
}
