.imagenproducto {
    width: 300px;
    position: relative;
    left: 50px;
    top: 200px;
}

.foto {
    width: 400px;
    position: fixed;
    left: 500px;
}

.card {
    width: 400px;
    position: fixed;
    left: 1000px;
    top: 300px;
    height: 200px;
}

.card {
    font-size: 20px;
}

.botonalquiler {
    width: 3000px;
}
