.txt1 {
    position: absolute;
    top: 380px;
    left: 404px;
}

.nombre {
    position: absolute;
    top: 355px;
    left: 408px;
}

.txt2 {
    position: absolute;
    top: 527px;
    left: 404px;
}

.precio {
    position: absolute;
    top: 503px;
    left: 408px;
}

.detalle {
    position: absolute;
    top: 621px;
    left: 406px;
}

.txt3 {
    position: absolute;
    top: 646px;
    left: 404px;
}

.txt4 {
    position: absolute;
    top: 380px;
    left: 1115px;
}

.foto {
    position: absolute;
    top: 360px;
    left: 1128px;
}

.aceptar {
    position: absolute;
    top: 643px;
    left: 1257px;
}

.txt5 {
    position: absolute;
    top: 527px;
    left: 1113px;
}

.estado {
    display: inline-block;
    position: fixed;
    top: 503px;
    left: 1123px;
}


.txt6 {
    position: absolute;
    top: 527px;
    left: 1453px;
}

.categoria {
    display: inline-block;
    position: fixed;
    top: 503px;
    left: 1453px;
}

.cancelar {
}
