@using Alquiler.BD.Data.Entidades
@using AlquilerNuevoPosta.Client.Servicios
@inject IHttpService http
@page "/Productos2"



<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel="stylesheet" />
</head>



<html>
<a class="btn btn-primary" href="/Registrar_Producto">registrar nuevo producto</a>
<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel="stylesheet" />
</head>




    @if (productos == null )
    {
        <tr>Cargando......</tr>
    }
    else if (productos.Count == 0 )
    {
        <tr>No existen datos</tr>
    }
    else
    {
         @foreach (var item in productosalquilados )
         
        {

<div class="cardmove">
    <div class="card">
             <div class="producto">
    <div class= "foto">
        <img class="imagenproducto" src="@item.foto" />
    </div>
                <div class=" card-body">
            <h5 class="card-title mb-3">
                <b>@item.NombreProducto</b>
            </h5>    
                
            <p class="card-text">
                <b>Precio:$@item.PrecioProducto.ToString()</b>
                <br />
                <b> Detalle:@item.DetallesProducto</b>
                <br/>
                <b> Estado:@item.Estado.Estados</b>
               
            </p>

        </div>
    </div>
    </div>
</div>
        }   


    }
    

  

<body>


  
    <header>

     <label for="btn-menu" class=icon-menu>
        <div class="toggle-btn">

            <span>&#9776</span>

        </div>
        </label>

       

        <input type="checkbox" id="btn-menu">
        <div class="cont-menu">
            <nav>
                <a href="/Logiado">Pagina principal</a>
                <a href="/Registrar_Producto">Registrar productos</a>
             <a href="/Productos">Mis productos</a>
             

            </nav>
            <label for="btn-menu" class=icon-menu>
                <div class="salir"> 
                <span>&#x21d0;</span>
                </div>
                </label>
                </div>
          <section id = "banner">
            <div class="palabra" >
                <h1>¡Alquiler por 2 pesos!</h1>
            </div>
            <nav>
                <a href="" class="nav-link">Categoria/Rubro</a>
                <a href="" class="nav-link">Precio</a>
                <a href="" class="nav-link">Ubicacion</a>
            </nav>

            <div class="lupa">
            <span>&#127859</span>
            </div>
            <div class="caja-buscador">

            </div>
            </section>
            <section id="textos">

            </section>
            <input class="buscador" type="text" name="" placeholder="Buscar producto">

        <div class="boton-registro ">

            <label for="submit">
                <a href="/">Cerrar sesion</a>
            </label>
        </div>
          <h1>Productos Alquilados</h1>

        </header>
        </body>
    

</html>


@code {


    List<Estado> Estados;

    public List<ProductoPublicado> productos = new List<ProductoPublicado>();

    public List<ProductoPublicado> productosalquilados = new List<ProductoPublicado>();



    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        await LeerProductos();
        
    }

    private async Task LeerProductos()
    {
        var respuesta = await http.Get<List<ProductoPublicado>>("api/Productos");
        if (!respuesta.Error)
        {
            productos = respuesta.Respuesta;

         foreach (var item in productos)
        {
            if (item.Alquilado == true)
            {
                productosalquilados.Add(item);
            }
        }
      
        }

      

      
    }


}
